<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="maureillasApp">
    <div ng-controller="PushCtrl"></div>
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="main" ng-controller="MainCtrl">     
        <div class="alert" ng-class="alert.message.type" ng-show="alert.message.textes">
            <div ng-repeat="texte in alert.message.textes">
                <pre ng-show="alert.message.json">{{texte | json}}</pre>
                <p ng-show="!alert.message.json">{{texte}}</p>
            </div>
        </div>   
        <md-toolbar layout="row" class="ng-cloak">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="menu" ng-click="toggleMenu()">
                    <md-icon md-svg-icon="images/ic_menu_48px.svg"></md-icon>
                </md-button>
                <h1>
                    <span>{{ 'MAIN.ville' | translate }}</span>
                </h1>
                <span flex=""></span>
                <img src="images/MDPI48x48px-01.png" />
            </div>
        </md-toolbar>
        <md-sidenav class="md-sidenav-right md-whiteframe-z2 menu" md-component-id="right">
            <!-- menu -->
            <md-content>
                <h3 ng-repeat="item in menus" class="item-menu">
                    <md-icon md-svg-icon="{{item.icon}}"></md-icon>
                    <a ng-href="" ng-click="goTo($index)">{{ item.name | translate}}</a>
                </h3>
                <h3 class="item-menu" ng-show="exitAvailable()">
                    <a ng-href="" ng-click="quitApp()">{{ 'MAIN.quitApp' | translate }}</a>
                </h3>  
            </md-content>    
        </md-sidenav>   
        <div id="content" class="view-container">
            <div class="view view-animate" ng-view=""></div>
        </div>
    </div>


    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-translate/angular-translate.js"></script>
    <script src="bower_components/angular-translate-loader-partial/angular-translate-loader-partial.js"></script>
    <script src="bower_components/ngCordova/dist/ng-cordova.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/angular-cache/dist/angular-cache.js"></script>
    <!-- endbower -->
    <script src="bower_components/moment/locale/fr.js"></script>
    <!-- endbuild -->
    
    <script src="cordova.js"></script>
    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/feeds.js"></script>
    <script src="scripts/controllers/home.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/parameters.js"></script>
    <script src="scripts/controllers/push.js"></script>
    <script src="scripts/filters/rssdate.js"></script>
    <script src="scripts/patchs/angular-ios9-uiwebview.patch.js"></script>
    <script src="scripts/services/android.js"></script>
    <script src="scripts/services/linkExternal.js"></script>
    <script src="scripts/services/config.service.js"></script>
    <script src="scripts/services/exceptionhandler.js"></script>
    <script src="scripts/services/feedlist.js"></script>
    <script src="scripts/services/feeds.js"></script>
    <script src="scripts/services/ios.js"></script>
    <script src="scripts/services/menu.js"></script>
    <script src="scripts/services/messages.js"></script>
    <script src="scripts/services/platforms.js"></script>
    <script src="scripts/services/push.js"></script>
    <script src="scripts/services/rest.js"></script>
    <script src="scripts/services/technicalexception.js"></script>
    <script src="scripts/services/underscore.js"></script>
    <script src="scripts/services/users.js"></script>
    <!-- endbuild -->
</body>
</html>
