<div layout="column" class="feeds">
 	<md-whiteframe class="md-whiteframe-z2 title-page" flex>
		<h1>{{title | translate}}</h1>
	</md-whiteframe>
	<div layout="row" flex layout-align="center center" ng-show="loading">
		<div>
			<md-progress-circular md-mode="indeterminate" md-diameter="40"></md-progress-circular>			
		</div>
	</div>	

	<div layout="row" flex layout-align="center center" ng-show="feedList().entries.length == 0 && !loading">
		<p>{{'EMPTY' | translate}}</p>
	</div>	

	<md-whiteframe flex class="md-whiteframe-z2 feed" ng-repeat="feed in feedList().entries" ng-hide="loading">	
	  <md-toolbar>
	    <div class="md-toolbar-tools">
	      <h3 class="md-flex">{{feed.publishedDate |rssdate : 'medium'}} - {{feed.title}}</h3>
	    </div>
	  </md-toolbar>	
	  <div class="feed-content" ng-bind-html='feed.content'></div>		
	  <div class="feed-link-container">
	  	<a href="" class="feed-link" ng-click="seeArticle(feed.link)">{{ 'SEE_NEXT' | translate }}</a>	
	  </div>	  		  
	</md-whiteframe>
</div>